tei-jaxb/src/main/resources/tei/schematron/hsp_cataloguing.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
    <title>ISO Schematron rules</title>
    <!-- This file generated 2022-01-26T08:12:33Z by 'extract-isosch.xsl'. -->
    <!-- ********************* -->
    <!-- namespaces, declared: -->
    <!-- ********************* -->
    <!-- ********************* -->
    <!-- namespaces, implicit: -->
    <!-- ********************* -->
    <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
    <ns prefix="xi" uri="http://www.w3.org/2001/XInclude"/>
    <!-- ************ -->
    <!-- constraints: -->
    <!-- ************ -->
    <pattern id="isoNormDate">
        <rule context="tei:surrogates/tei:bibl/tei:date">
            <assert test="@when[matches(.,'^[1,2]\d{3}-[0,1]\d{1}-\d{2}$')]"> @when
                requires a date in the standard form: yyyy-mm-dd. </assert>
        </rule>
    </pattern>
    <pattern>
        <rule context="tei:date">
            <assert test="@when or (@notAfter and @notBefore) or (@from and @to)">You
                must provide either @when or @to/@from, or @notAfter/@notBefore.</assert>
        </rule>
    </pattern>
    <pattern id="ÄußeresKunst">
        <rule context="tei:physDesc/tei:decoDesc/tei:decoNote">
            <assert test="@type eq 'form' "> It's possible to describe some illuminated
                aspects of a manuscript here </assert>
        </rule>
    </pattern>
    <pattern id="indexTermHead">
        <!-- <sch:rule context="tei:term[@type eq 'title']">
                    <sch:assert test="normalize-space()">Should contain a title</sch:assert>
                  </sch:rule>-->
        <!-- material -->
        <rule context="tei:msDesc/tei:head/tei:index/tei:term[@type eq 'material_type']">
            <assert test=".= ('','paper','linen','palm','papyrus','parchment','other')">
                If type="material_type", text should contain 'paper', 'linen', 'palm',
                'papyrus', 'parchment', 'other' or should stay empty. </assert>
        </rule>
        <!--measure-->
        <!--<sch:rule context="tei:index/tei:term[@type eq 'measure']">
                    <sch:assert test="normalize-space()">Should contain the number of leaves e.g. 12
                      Bl.</sch:assert>
                  </sch:rule>-->
        <rule context="tei:index/tei:term[@type eq 'measure_noOfLeaves']">
            <assert test=".[matches(.,'^[0-9]*?$')]">The content may only contain
                numbers</assert>
        </rule>
        <!--dimensions-->
        <!--<sch:rule context="tei:index/tei:term[@type eq 'dimensions']">
                    <sch:assert test="normalize-space()">Should contain the dimension of the
                      manuscript e.g 30,5 × 22</sch:assert>
                  </sch:rule>-->
        <rule context="tei:index/tei:term[@type='height']">
            <assert test=".[matches(.,'^([0-9]+(,5)?)?$')]">Text node may only contain an
                integer or must be a float which ends with ,5 or is empty</assert>
        </rule>
        <rule context="tei:index/tei:term[@type='width']">
            <assert test=".[matches(.,'^([0-9]+(,5)?)?$')]">Text node may only contain an
                integer or must be a float which ends with ,5 or is empty</assert>
        </rule>
        <rule context="tei:index/tei:term[@type='depth']">
            <assert test=".[matches(.,'^([0-9]+(,5)?)?$')]">Text node may only contain an
                integer or must be a float which ends with ,5 or is empty</assert>
        </rule>
        <rule context="tei:term[@type='dimensions_typeOfInformation']">
            <assert test=". =('','deduced','factual')"> If
                type="dimensions_typeOfInformation" then content should be 'deduced' or
                'factual' or should stay empty. </assert>
        </rule>
        <!-- format -->
        <rule context="tei:term[@type='format']">
            <assert test=".= ('','folio','quarto','octavo','smaller than octavo','larger than folio','other','oblong','square','long and narrow')"> folio, quarto, oktavo, other, smaller than octavo, larger than folio,
                oblong, long and narrow, square or empty </assert>
        </rule>
        <rule context="tei:term[@type='format_typeOfInformation']">
            <assert test=".=('','deduced','factual', 'computed')"> deduced, factual
                or empty. </assert>
        </rule>
        <!--origDate-->
        <rule context="tei:term[@type='origDate_type']">
            <assert test=". = ('','dated','datable')"> If type="origDate_type",
                content should be dated or datable or empty </assert>
        </rule>
        <rule context="tei:index/tei:term[@type='origDate_notBefore']">
            <assert test=".[matches(.,'^((\-?[0-9]{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01]))|(\-?[0-9]{4}\-(0[1-9]|1[012]))|(\-?[0-9]{4}))?$')]"> The content should contain a date (year); several date-types are allowed:
                YYYY-MM-DD, -YYYY-MM-DD, YYYY-MM , -YYYY-MM or YYYY.</assert>
        </rule>
        <rule context="tei:index/tei:term[@type='origDate_notAfter']">
            <assert test=".[matches(.,'^((\-?[0-9]{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01]))|(\-?[0-9]{4}\-(0[1-9]|1[012]))|(\-?[0-9]{4}))?$')]"> The content should contain a date (year); several date-types are allowed:
                YYYY-MM-DD, -YYYY-MM-DD, YYYY-MM , -YYYY-MM or YYYY. </assert>
        </rule>
        <!--form-->
        <rule context="tei:msDesc/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".= ('', 'codex', 'collection', 'composite', 'leporello', 'sammelband', 'fragment', 'printWithManuscriptParts', 'hostVolume', 'singleSheet', 'scroll', 'other')"> If @type="form", Text should contain 'codex', 'collection', 'composite',
                'leporello', 'sammelband', 'fragment', 'singleSheet',
                'printWithManuscriptParts', 'hostVolume', 'scroll', 'other' or should stay
                empty</assert>
        </rule>
        <!-- status-->
        <rule context="tei:index/tei:term[@type eq 'status']">
            <assert test=". = ('','missing','existent','damaged')"> If @type="status",
                content should be: 'existent', 'missing', 'damaged', or should stay empty
            </assert>
        </rule>
        <!--decoration and musicNotation-->
        <rule context="tei:term[@type='decoration']">
            <assert test=". =('','yes','no')"> If type="decoration" then content should
                be 'yes' or 'no' or empty</assert>
        </rule>
        <rule context="tei:term[@type='musicNotation']">
            <assert test=". =('','yes','no')"> If type="musicNotation" then content
                should be 'yes' or 'no' or empty.</assert>
        </rule>
    </pattern>
    <!-- constraint for msPart = booklet-->
    <pattern id="booklet">
        <!-- @form -->
        <rule context="tei:msPart[@type eq 'booklet']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".=('booklet')"> If msPart @type is a booklet, then form should
                be 'booklet'. </assert>
        </rule>
        <!-- @material_type -->
        <rule context="tei:msPart[@type eq 'booklet']/tei:head/tei:index/tei:term[@type eq 'material_type']">
            <assert test=".= ('','paper','linen','palm','papyrus','parchment','other')">
                If type="material_type", text should contain 'paper', 'linen', 'palm',
                'papyrus', 'parchment', 'other' or should stay empty. </assert>
        </rule>
    </pattern>
    <!-- constraint for msPart = binding -->
    <pattern id="binding">
        <!-- @material_type -->
        <rule context="tei:msPart[@type eq 'binding']/tei:head/tei:index/tei:term[@type eq 'material_type']">
            <assert test=".=('','wood','leather','parchment','textile materials','gold','silver','copper','brass','other')"> If msPart type="binding", material_type should contain
                'wood','leather','parchment','textile
                materials','gold','silver','copper','brass', 'other' or should stay empty
            </assert>
        </rule>
        <!-- @form -->
        <rule context="tei:msPart[@type eq 'binding']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".=('binding')"> If msPart @type is binding, then form should
                be 'binding' </assert>
        </rule>
    </pattern>
    <!-- constraint for msPart = accMat-->
    <pattern id="accMat">
        <!-- @material_type -->
        <rule context="tei:msPart[@type eq 'accMat']/tei:head/tei:index/tei:term[@type eq 'material_type']">
            <assert test=".= ('','paper','linen','palm','papyrus','parchment','other')">
                If type="accMat", material_type should contain 'paper', 'linen', 'palm',
                'papyrus', 'parchment', 'other' or should stay empty. </assert>
        </rule>
        <!-- @form -->
        <rule context="tei:msPart[@type eq 'accMat']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".=('accMat')"> If msPart @type is accMat, then form should be
                'accMat' </assert>
        </rule>
    </pattern>
    <!-- constraint for msPart = fragment-->
    <pattern id="fragment">
        <!-- @material_type -->
        <rule context="tei:msPart[@type eq 'fragment']/tei:head/tei:index/tei:term[@type eq 'material_type']">
            <assert test=".= ('','paper','linen','palm','papyrus','parchment','other')">
                If msPart type="fragment" material_type should contain 'paper', 'linen',
                'palm', 'papyrus', 'parchment', 'other' or should stay empty. </assert>
        </rule>
        <!-- @form -->
        <rule context="tei:msPart[@type eq 'fragment']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".=('fragment')"> If msPart @type is fragment, then form should
                be 'fragment' </assert>
        </rule>
    </pattern>
    <!-- constraint if msPart binding, fragment, accMat has KOK fragment or accMat or other  -->
    <pattern id="msPartInmsPartStandard">
        <rule context="tei:msPart[@type eq 'binding' or @type eq 'fragment' or @type eq 'accMat']/tei:msPart">
            <assert test="@type eq 'accMat' or @type eq 'fragment' or @type eq 'other'">
                Only Bindings, accMat and a fragment may contain further msParts with the
                following types: accMat, fragment or other </assert>
        </rule>
    </pattern>
    <!-- constraint if msPart booklet has msPart fragment, booklet or accMat -->
    <pattern id="msPartInmsPartBooklet">
        <rule context="tei:msPart[@type eq 'booklet']/tei:msPart">
            <assert test="@type eq 'fragment' or @type eq 'booklet' or @type eq 'accMat' or @type eq 'other'"> Only Booklets may contain further msParts with the following types: accMat
                fragment, booklets and other</assert>
        </rule>
    </pattern>
    <!-- constraint for msPart in msPart @form -->
    <pattern id="msPartInmsPartStandardForm">
        <rule context="tei:msPart/tei:msPart[@type eq 'fragment']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".='fragment'"> If msPart @type fragment, then form should be
                'fragment'. </assert>
        </rule>
        <rule context="tei:msPart/tei:msPart[@type eq 'accMat']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".='accMat'"> If msPart @type 'accMat', then form should be
                'accMat'. </assert>
        </rule>
        <rule context="tei:msPart/tei:msPart[@type eq 'booklet']/tei:head/tei:index/tei:term[@type eq 'form']">
            <assert test=".='booklet'">If msPart type 'booklet' then form should be
                booklet</assert>
        </rule>
    </pattern>
    <!-- constraint for 'other'/Sonstiges -->
    <pattern id="idnoKomponenteSonstiges">
        <rule context="tei:msPart[@type eq 'other']/tei:msIdentifier/tei:idno">
            <assert test=".=('Sonstiges')"> If msPart @type other then idno contains
                'Sonstiges'. </assert>
        </rule>
    </pattern>
    <pattern id="childKomponenteSonstiges">
        <rule context="tei:msPart[@type eq 'other']">
            <assert test="tei:p">msPart type="other" may only contain p
                Elements</assert>
        </rule>
    </pattern>
    <!-- only one msPart type="other" allowed-->
    <pattern id="msPartoneP">
        <rule context="tei:msPart[@type eq 'booklet' or @type eq 'fragment' or @type eq 'binding' or @type eq 'accMat']">
            <assert test="count(tei:msPart[@type='other'])&lt; 2">only one msPart
                type='other' is allowed in one msPart</assert>
        </rule>
    </pattern>
    <!-- p not allowed in accMat, binding, fragment, booklet -->
    <pattern id="msPartnoP">
        <rule context="tei:msPart[@type eq 'booklet' or @type eq 'fragment' or @type eq 'binding' or @type eq 'accMat']">
            <report test=".!=tei:p">booklet, fragment, binding, accMat may not contain a
                p Element as direct child</report>
        </rule>
    </pattern>
    <pattern id="typeAndTarget">
        <rule context="tei:surrogates/tei:bibl/tei:ref">
            <assert test="(@type and @target)">if ref has a type a target is
                required</assert>
        </rule>
    </pattern>
    <pattern>
        <rule context="tei:ref">
            <assert test="@target or @type">You must provide either @target or
                @type.</assert>
        </rule>
    </pattern>
    <pattern id="schematron-constraint-hsp_cataloguing-textLang-textLang.check-8">
        <rule context="//tei:msContents">
            <assert test="descendant::tei:textLang" role="warn">A manuscript should have
                one or more languages recorded in a textLang element. For manuscripts with no
                linguistic content use code 'zxx'. If the language is undetermined use the code
                'und'.</assert>
        </rule>
        <!--<sch:rule context="//tei:textLang">
                  <sch:assert test="@mainLang and string-length(normalize-space(string())) gt 0"
                    role="error">The predominant language must be recorded in using a code in a
                    mainLang attribute (and an otherLang attribute if there are other languages) and
                    described as text within the textLang element.</sch:assert>
                </sch:rule>-->
        <rule context="//tei:textLang/@mainLang | //tei:textLang/@otherLangs | //@xml:lang">
            <assert test="every $code in tokenize(., ' ') satisfies matches($code, '^[a-z]{2,3}(-|$)')"
                role="error">Codes in <value-of select="name(.)"/> attributes must conform
                to BCP 47 (https://tools.ietf.org/html/bcp47), starting with an ISO 639 code for
                the language, then optionally further codes for the script (ISO 15924), region,
                transliteration, etc.</assert>
        </rule>
    </pattern>
</schema>
